apiVersion: v1
kind: Service
metadata:
  name: petclinic-service
  namespace: default
spec:
  type: NodePort
  selector:
    app: petclinic
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
    nodePort: 30080
